.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.card {
    height: var(--card-height);
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--card-border-radius);
    border: 2px solid black;
    background-color: lightgray;
    transition: all .2s ease-in-out;
}

.level1Card {
    background-color: lightcoral;
}

.level2Card {
    background-color: rgb(146, 194, 219);
}

.card:hover {
    transform: scale(2) translateY(-30%);
    z-index: 2;
    cursor: pointer;
}

.cardName {
    text-align: center;
}

.cardLevel, .cardName {
    font-weight: 600;
}

.cardImage {
    height: 35%;
    width: 90%;
    position: relative;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    /* background-image: url('../public/static/images/edrick-krozendijk-25JxltstHSc-unsplash.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardLevel {
    width: 20%;
    position: absolute;
    bottom: -7px;
    font-size: 0.7em;
    text-align: center;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
}

.cardText {
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 0.65em;
    text-align: center;
    /* border: 1px solid cyan; */
}

.patternAndStatsContainer {
    height: 20%;
    width: 100%;
    display: flex;
    /* border: 1px solid black; */
}

.stats {
    width: 50%;
    position: relative;
    /* border: 1px solid purple; */
}

.attack, .defense, .health {
    height: 45%;
    width: 30%;
    position: absolute;
    left: 35%;
    top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.45em;
    font-weight: 600;
    text-align: center;
    /* border: 1px solid pink; */
}

.faIcon {
    position: absolute;
    left: -10%;
    bottom: -5%;
    height: 120%;
    width: 120%;
    filter: drop-shadow(1px 1px rgba(0, 0, 0, 0.5));
    z-index: 1;
    /* border: 1px solid black; */
}

.attackIcon {
    left: -15%;
    transform: rotate(45deg);
    color: rgba(252, 186, 3, 0.8);
}

.attack {
    /* border: 1px solid gray; */
    transform: translate(-75%, -50%); /* x, y */
}


.defenseIcon {
    color: rgba(55, 97, 212, 0.8);
}

.defense {
    /* border: 1px solid blue; */
    transform: translate(75%, -50%); /* x, y */
}

.healthIcon {
    color: rgba(209, 2, 9, 0.7);
}

.health {
    /* border: 1px solid yellow; */
    transform: translate(0, 50%); /* x, y */
}

.attackTitle, .attackNumber, .defenseTitle, .defenseNumber, .healthTitle, .healthNumber {
    position: relative;
    z-index: 2;
}