:root {
    --card-height: 200px;
    --card-width: 125px;
    --card-border-radius: 5px;
}

html, body {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    cursor: pointer;
}

.container {
    position: fixed;
    /* padding: 10px; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.player1 {
    height: 25%;
    border: 1px solid brown;
}

.middleground {
    height: 50%;
    display: flex;
    justify-content: center;
    border: 1px solid green;
}

.board {
    height: 100%;
    width: 50%;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(10, 1fr);
    /* border: 3px solid orange; */
}

.square {
    border: 1px solid black;
}

.middleground-panel {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid purple;
}

.decks {
    height: 75%;
    width: 100%;
    display: flex;
    align-items: center;
    border: 1px solid hotpink;
}

.deck-container {
    width: 33%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid peachpuff;
}

.deck {
    width: var(--card-width);
    height: var(--card-height);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--card-border-radius);
    background-color: gray;
}

.deck:hover {
    cursor: pointer;
}

.deck .fa-solid {
    color: white;
    font-size: 2rem;
}

.next-turn {
    width: 50%;
    height: 12.5%;
    border: 1px solid red;
}

.player2 {
    height: 25%;
    width: 100%;
    display: flex;
    border: 1px solid blue;
}

.level-container {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    border: 1px solid seagreen;
}

.hand {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid orangered;
}

.card {
    height: var(--card-height);
    width: var(--card-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--card-border-radius);
    background-color: lightcoral;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.5) translateY(-30%);
    cursor: pointer;
}

.card-level, .card-name {
    font-weight: 600;
}

.card-image {
    height: 35%;
    width: 90%;
    /* border: 1px solid rgb(17, 135, 231); */
    background-image: url('./static/images/edrick-krozendijk-25JxltstHSc-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-text {
    height: 40%;
    text-align: center;
}